body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family:'Courier New', Courier, monospace;
}

.avatar {
    width: 150px;
    filter: grayscale(100%);
    transition-property: filter border-bottom border-right;
    transition-duration: 2s;
    border-radius: 10%;
    border-bottom: 5px solid;
    border-right: 5px solid;
}
.avatar:hover {
    filter: grayscale(0);
    border-bottom: 1px solid;
    border-right: 1px solid;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddeba9;
    background: linear-gradient(45deg, #aaa, #fffaaa, #ddeba9);
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

